global
  log stdout format raw local0
  maxconn 2048

defaults
  log global
  mode http
  option httplog
  timeout connect 5s
  timeout client  60s
  timeout server  60s
  timeout check   5s

frontend keycloak_front
  bind *:8443 ssl crt /etc/haproxy/certs/keycloak.pem
  default_backend keycloak_sites

backend keycloak_sites
  balance roundrobin
  option httpchk GET /lb-check
  http-check expect string UP
  # CRC exposes apps on host :443; from container use host.containers.internal
  server site_a host.containers.internal:443 ssl verify none sni str(keycloak-a.apps-crc.testing) check check-ssl check-sni keycloak-a.apps-crc.testing inter 5s fall 3 rise 2
  server site_b host.containers.internal:443 ssl verify none sni str(keycloak-b.apps-crc.testing) check check-ssl check-sni keycloak-b.apps-crc.testing inter 5s fall 3 rise 2
