# Copy to secrets/postgres.env and adjust if needed
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=KeycloakPoC2026!
POSTGRES_DB=keycloak
REPLICATION_USER=replicator
REPLICATION_PASSWORD=ReplicatorPoC2026!
PRIMARY_HOST=192.168.0.114
PRIMARY_PORT=5432
POSTGRES_IMAGE=docker.io/library/postgres:17-alpine
